.contenedor-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1em;
}

.download-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3em;
}