.semi-circulo-2 {
  width: 50px; 
  height: 40px; 
  background: #5cb85c;
  border-radius: 0 100px 100px 0;
  color: var(--color-blanco-normal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-1 {
  background-color: #63A41F;
}


.color-2 {
  background-color: #4A9623;
}


.color-3 {
  background-color: #318827;
}


.color-4 {
  background-color: #16792B;
}


.color-5 {
  background-color: #006B31;
}