.campo-texto-serie {
  div {
    width: 31px !important;
    float: left;
    margin-right: 12px;
    input {
      padding: 10px;
      width: 9px;
    }
  }
}

.primer-boton {
  margin-top: 76px;
}
